cs6::false#true#false#false#false#60#30#ls -al#null####null
2::false#true#false#false#33#32#null#null####null
1::false#true#false#false#false#15#30#null#/Users/down/tmpfile.txt####null
cs3::false#true#false#false#false#15#90#null#/Volumes/mac4/项目2####null
cs1::false#true#false#false#false#15#90#ls /Volumes/mac4#/Users/down####null
